.video {
    position: relative;
    float: left;
    width: 200px;
    height: 191px;
}
.video img {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 191px;
    background: red;
}
.video video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}
