.video {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 85px;    /* 修改宽度 */
    height: 85px;   /* 修改高度 */
    overflow: hidden;
}
.video img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}
.video video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.video a {
    display: block;
    background: #CCC;
}
.video span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding-right: 10px;
    width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    color: #FFF;
    opacity: 0.8;
    background: #000;
}

/* other */
body {
    font-size: 14px;
}
.ad h1 {
    margin: 0 0 7px 0;
    font-size: 120%;
    line-height: 20px;
}
.ad h1 a {
    color: #00C;
    text-decoration: none;
}
.ad-content {
    overflow: hidden;
    line-height: 20px;
}
.ad-desc {
    overflow: hidden;
}
.ad-desc span {
    color: #666;
}
.ad-desc a {
    text-decoration: none;
    color: #1f992f;
}
